@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background: #f4f7fb;
	color: #333;
}

.logo {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 2.5rem;
	color: #2f8ff7;
	font-weight: 900;
	font-style: italic;
	letter-spacing: 0.5px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ffffff;
	padding: 25px 25px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.navbar nav ul {
	display: flex;
	list-style-type: none;
	font-weight: 500;
	gap: 4rem;
}

.navbar ul li a {
	text-decoration: none;
	color: #555555;
	font-size: 1rem;
}

.destination {
	text-align: left;
	padding: 30px;
	padding-top: 50px;
}

.destination h1 {
	margin-bottom: 20px;
}

.destination p {
	font-size: 1.2rem;
}

.search {
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content;
	padding: 1rem;
	margin-left: 25px;
	border-radius: 40px;
	background-color: #ffffff;
}

.search-bar {
	font-size: 1rem;
	color: #333333;
	margin-left: 1rem;
	outline: none;
	border: none;
	background: transparent;
	width: 250px;
}

.material-symbols-outlined {
	padding: 5px;
	border-radius: 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
	background-color: #f5f3f3;
}

.search-button {
	border: none;
	cursor: pointer;
	background-color: #2f8ff7;
	font-size: 1rem;
	font-weight: 500;
	color: #ffffff;
	padding: 10px 20px;
	border-radius: 20px;
}

input[type='search']::-webkit-search-cancel-button {
	display: none;
	-webkit-appearance: none;
}

.filter {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 2rem;
	gap: 2rem;
	font-weight: 600;
}

.filter-button {
	background-color: #2f8ff7;
	color: white;
	border: none;
	font-size: 1rem;
	font-weight: 600;
	margin: 1rem;
	padding: 10px 20px;
	border-radius: 20px;
}
